/* COLORS */

@use "sass:color";

.o-cases{
    width: 100px;
}

$uoc-corporate: #000078;
$uoc-masterbrand: #ff7373;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$valls-principal: #ff7373;
$valls-clar: color.scale($valls-principal, $lightness: 50%);
$valls-fosc: color.scale($valls-principal, $lightness: -50%);
$valls-blanc: color.scale($valls-principal, $lightness: 90%);


$text-negre: color.scale($valls-principal, $lightness: -90%);;
$text-blanc: color.scale($valls-principal, $lightness: 85%);
$text-destacat: #9f4545;

$fons-fosc: #e4e4e4;
$fons-clar: color.scale($fons-fosc, $lightness: 70%);
$fons-translucid: rgba(255, 255, 255, 0.5);