@use "sass:color";

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$text-negre: #0f0f0f;
$text-blanc: #fff3f3;   
$text-destacat: #ad0000;

$fons-fosc: #808181;
$fons-clar: color.scale($fons-fosc, $lightness: 70%);

