/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import "npm:aos/dist/aos.css";

@mixin contrastat($fons: $valls-principal, $text: $valls-blanc) {
  background-color: $fons;
  color: $text;
  border-color: $fons;
}