<main>
  <section>
    <h2 id="visitavalls">Benvinguts a la ciutat de Valls</h2>
    <p>Valls és una ciutat catalana situada a la comarca de l'Alt Camp, a la província de Tarragona. És coneguda per la seva rica història, cultura i tradicions, així com per ser la capital del món dels castells, les torres humanes que són una part important del patrimoni cultural català.</p>
    <p>La ciutat ofereix una gran varietat d'atraccions turístiques, com ara el seu centre històric amb edificis medievals, esglésies i places encantadores. A més, Valls és famosa per la seva gastronomia, especialment pels calçots, una variet

  </section>
  <section>
    <h2 id="cultura">Cultura</h2>
    <p>Valls té una rica vida cultural amb nombrosos festivals i esdeveniments al llarg de l'any. Un dels més destacats és la Festa Major, que se celebra per Sant Joan i inclou activitats tradicionals, concerts i espectacles. A més, la ciutat compta amb museus i centres culturals que ofereixen una visió profunda de la seva història i patrimoni.</p>
      <ul>
        <li>
          <article class="targeta">
              <figure class="targeta__figure">
                  <img src="assets/images/doldellops.jpg" alt="Doldellops" class="targeta__img">
                  <figcaption class="targeta__figcaption">Foto de <a href="https://unsplash.com/@brunonw" target="_blank">bruno neurath-wilson</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="targeta__contingut">
                  <a href="#" class="targeta__titol"><h3>Castells</h3></a>
                  <p>Valls és la ciutat on es van originar els castells, una tradició que data del segle XVIII. Els castells són torres humanes construïdes per equips de persones que es posen unes sobre les altres. Aquesta pràctica ha estat reconeguda per la <abbr title="United Nations Educational Scientific and Cultural Organization">UNESCO</abbr> com a Patrimoni Cultural Immaterial de la Humanitat.</p>
              </div>
          </article>
        </li>
        <li>
          <div class="targeta">
              <figure class="targeta__figure">
                  <img src="assets/images/Mulassa_de_Valls.png" alt="Festa Major de Valls" class="targeta__img">
                  <figcaption class="targeta__figcaption">Foto de <a href="https://unsplash.com/@brunonw" target="_blank">bruno neurath-wilson</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="targeta__contingut">
                  <a href="#" class="targeta__titol"><h3>Festa Major</h3></a>
                  <p>La Festa Major de Valls és una celebració anual que té lloc al juny en honor a Sant Joan. Durant aquesta festa, la ciutat s'omple d'activitats culturals, concerts, correfocs i altres esdeveniments tradicionals que atrauen tant als locals com als turistes.</p>
              </div>
          </div>
        </li>
        <li>
          <div class="targeta">
              <figure class="targeta__figure">
                  <img src="assets/images/moixo_foguer.jpg" alt="Moixó Foguer" class="targeta__img">
                  <figcaption class="targeta__figcaption">Foto de <a href="https://unsplash.com/@brunonw" target="_blank">bruno neurath-wilson</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="targeta__contingut">
                  <a href="#" class="targeta__titol"><h3>Moixó Foguer</h3></a>
                  <p>El Moixó Foguer és un personatge </p>
              </div>
          </div>            
        </li>
      </ul>
  </section>
  <section>
    <h2 id="gastronomia">Gastronomia</h2>
    <p>La gastronomia de Valls és una part essencial de la seva identitat. Els calçots, una varietat de ceba tendra, són el plat més emblemàtic i es celebren en festes conegudes com a "calçotades". A més, la ciutat ofereix una àmplia gamma de plats tradicionals catalans i vins locals que delecten els visitants.</p>
  </section>
  <section>
    <h2 id="entorn">Entorn</h2>
    <p>Valls està envoltada d'un entorn natural impressionant, amb paisatges que inclouen muntanyes, camps i rieres. Els visitants poden gaudir de rutes de senderisme i excursions a la natura, així com explorar els pobles i vinyes de la regió de l'Alt Camp.</p>
  </section>
  <section>
    <h2 id="comarribar">Com arribar</h2>
    <p>Valls és accessible per carretera i tren. Es troba a uns 20 minuts en cotxe de Tarragona i a aproximadament una hora de Barcelona. La ciutat està ben connectada amb altres parts de Catalunya, cosa que facilita la visita dels turistes.</p> 
  </section>
</main>    