<main>
  <!-- MENÚ LATERAL -->
  <aside data-aos="fade-up" data-aos-offset="1200" data-aos-duration="600">
      <include src="./views/navegador.html"></include>
  </aside>
  
  <!-- VISITA VALLS -->
  <section>
    <h2 id="visitavalls">Benvinguts a la ciutat de Valls</h2>
    <p>Valls és una ciutat catalana situada a la comarca de l'Alt Camp, a la província de Tarragona. És coneguda per la seva rica història, cultura i tradicions, així com per ser la capital del món dels castells, les torres humanes que són una part important del patrimoni cultural català.</p>
    <p>La ciutat ofereix una gran varietat d'atraccions turístiques, com ara el seu centre històric amb edificis medievals, esglésies i places encantadores. A més, Valls és famosa per la seva gastronomia, especialment pels calçots, una variet
  </section>

  <!-- CULTURA -->
  <section id="cultura" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="600">
    <h2>Cultura</h2>
    <p>Valls té una rica vida cultural amb nombrosos festivals i esdeveniments al llarg de l'any. Un dels més destacats és la Festa Major, que se celebra per Sant Joan i inclou activitats tradicionals, concerts i espectacles. A més, la ciutat compta amb museus i centres culturals que ofereixen una visió profunda de la seva història i patrimoni.</p>
      <ul>
        <li>
          <article class="o-targeta u-contrast">
              <figure>
                  <img src="assets/images/castells.jpg" alt="Doldellops">
                  <figcaption>Foto de <a href="https://www.flickr.com/photos/calafellvalo/" target="_blank">calafellvalo</a> a <a href="https://www.flickr.com/photos/calafellvalo/48969559717">Flickr</a></figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3 class="u-white-text">Castells</h3></a>
                  <p class="u-white-text">Valls és la ciutat on es van originar els castells, una tradició que data del segle XVIII. Els castells són torres humanes construïdes per equips de persones que es posen unes sobre les altres. Aquesta pràctica ha estat reconeguda per la <abbr title="United Nations Educational Scientific and Cultural Organization">UNESCO</abbr> com a Patrimoni Cultural Immaterial de la Humanitat.</p>
              </div>
          </article>
        </li>
        <li>
          <div class="o-targeta">
              <figure>
                  <img src="assets/images/Mulassa_de_Valls.png" alt="Festa Major de Valls">
                  <figcaption>Foto de <a href="https://unsplash.com/@brunonw" target="_blank">bruno neurath-wilson</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Festa Major</h3></a>
                  <p>La Festa Major de Valls és una celebració anual que té lloc al juny en honor a Sant Joan. Durant aquesta festa, la ciutat s'omple d'activitats culturals, concerts, correfocs i altres esdeveniments tradicionals que atrauen tant als locals com als turistes.</p>
              </div>
          </div>
        </li>
        <li>
          <div class="o-targeta">
              <figure>
                  <img src="assets/images/moixo_foguer.jpg" alt="Moixó Foguer">
                  <figcaption>Foto de <a href="https://unsplash.com/@brunonw" target="_blank">bruno neurath-wilson</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Moixó Foguer</h3></a>
                  <p>El Moixó Foguer és un personatge </p>
              </div>
          </div>            
        </li>
      </ul>
  </section>

  <!-- GASTRONOMIA -->
  <section  id="gastronomia" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="600">
    <h2>Gastronomia</h2>
    <p>La gastronomia de Valls és una part essencial de la seva identitat. Els calçots, una varietat de ceba tendra, són el plat més emblemàtic i es celebren en festes conegudes com a "calçotades". A més, la ciutat ofereix una àmplia gamma de plats tradicionals catalans i vins locals que delecten els visitants.</p>
    <ul>
        <li class="u-width-all">
          <article class="o-targeta u-width-all">
              <figure>
                  <img src="assets/images/Gran_Festa_de_la_Calçotada_de_Valls(flydime).jpg" alt="Doldellops">
                  <figcaption>Foto de <a href="https://unsplash.com/@brunonw" target="_blank">flydime</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Calçotades</h3></a>
                  <p>Les calçotades són la clau</p>
              </div>
          </article>
        </li>
        <li>
          <article class="o-targeta">
              <figure>
                  <img src="assets/images/olives.jpg" alt="Festa Major de Valls">
                  <figcaption>Foto d'Arxiu propi</figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>L'Oli d'oliva</h3></a>
                  <p>Oli de Picamoixons.</p>
              </div>
          </article>
        </li>
        <li>
          <article class="o-targeta">
              <figure>
                  <img src="assets/images/garrofes.jpg" alt="Moixó Foguer">
                  <figcaption>Foto d'Arxiu propi</figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Garrofa</h3></a>
                  <p>La garrofina </p>
              </div>
          </article>            
        </li>
      </ul>
  </section>

  <!-- ENTORN -->
  <section id="entorn" class="u-espai-sota-gran"  data-aos="zoom-out-left" data-aos-duration="1000">
    <h2>Entorn</h2>
    <p>Valls està envoltada d'un entorn natural impressionant, amb paisatges que inclouen muntanyes, camps i rieres. Els visitants poden gaudir de rutes de senderisme i excursions a la natura, així com explorar els pobles i vinyes de la regió de l'Alt Camp.</p>
        <ul>
        <li class="u-width-all">
          <article class="o-targeta u-width-all u-contrast-fosc">
              <figure>
                  <img class="u-height-400" src="assets/images/Montferri.jpg" alt="Esglèsia modernista de Montferri">
                  <figcaption>Foto de <a href="https://unsplash.com/@brunonw" target="_blank">Maria Rosa Ferre</a> a <a href="https://unsplash.com/photos/yellow-citrus-fruit-on-tree-DmizDd1Vwc0">Unsplash</a></figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Montferri</h3></a>
                  <p>Una esglèsia modernista</p>
              </div>
          </article>
        </li>
        <li>
          <article class="o-targeta"  data-aos="fade-left"data-aos-offset="200" data-aos-duration="700">
              <figure>
                  <img src="assets/images/miramar.jpg" alt="Festa Major de Valls">
                  <figcaption>joan ggki</figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Serra de Miramar</h3></a>
                  <p>Oli de Picamoixons.</p>
              </div>
          </article>
        </li>
        <li>
          <article class="o-targeta" data-aos="fade-left"data-aos-offset="450" data-aos-duration="700">
              <figure>
                  <img src="assets/images/pedra seca.jpg" alt="Moixó Foguer">
                  <figcaption>Foto d'Arxiu propi</figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Pedra seca</h3></a>
                  <p>En l'entorn rural de l'Alt Camp trobem una gran quantitat de construccions de pedra seca. Aquest patrimoni caracteritza l'entron de la ciutat de Valls, esculpin el paissatge amb història viva. </p>
              </div>
          </article>            
        </li>
        <li>
          <article class="o-targeta" data-aos="fade-left"data-aos-offset="700" data-aos-duration="700">
              <figure>
                  <img src="assets/images/Riu Glorieta.jpg" alt="Moixó Foguer">
                  <figcaption>pere prlpz</figcaption>
              </figure>
              <div class="c-contingut">
                  <a href="#"><h3>Riu Glorieta</h3></a>
                  <p>La garrofina </p>
              </div>
          </article>            
        </li>
      </ul>
  </section>

  <!-- COM ARRIBAR -->
  <section id="comarribar" class="u-width-all u-contrast u-padd-extra" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
    <h2 class="u-white-text">Com arribar</h2>
    <p>Valls és accessible per carretera i tren. Es troba a uns 20 minuts en cotxe de Tarragona i a aproximadament una hora de Barcelona. La ciutat està ben connectada amb altres parts de Catalunya, cosa que facilita la visita dels turistes.</p> 
    <ul class="o-menu-icones" data-aos="zoom-in" data-aos-delay="200">
      <li class=>
        <div class="boto-icones u-contrast u-no-link">
            <i class="fa-solid fa-bus-side"></i>
            Autobús
        </div>
      </li>
      <li>
        <div class="boto-icones u-contrast u-no-link">
            <i class="fa-solid fa-train-tram"></i>
            Tren
        </div>
      </li>
      <li>
        <div class="boto-icones u-contrast u-no-link">
            <i class="fa-solid fa-car"></i>
            Cotxe
        </div>
      </li>
      <li>
        <div class="boto-icones u-contrast u-no-link">
            <i class="fa-solid fa-person-hiking"></i>
            A peu
        </div>
      </li>
    </ul>
    <iframe class="o-mapa" src="https://www.openstreetmap.org/export/embed.html?bbox=1.1097908020019533%2C41.22502131514565%2C1.396465301513672%2C41.335447080333644&amp;layer=mapnik"></iframe>
    <small><a class="u-white-text" href="https://www.openstreetmap.org/?#map=13/41.28026/1.25313">Mostra un mapa més gran</a></small>
  </section>
</main>    