<!-- MENÚ REAPROFITABLE -->
<ul class="o-menu-icones" data-aos="zoom-in" data-aos-duration="1800">
    <li class=>
        <a href="#visitavalls">
            <div class="c-boto-icones">
                <i class="fa-solid fa-panorama"></i>
                Visita Valls
            </div>
        </a>
    </li>
    <li>
        <a href="#cultura">
            <div class="c-boto-icones">
                <i class="fa-solid fa-masks-theater"></i>
                Cultura
            </div>
        </a>
    </li>
    <li>
        <a href="#gastronomia">
            <div class="c-boto-icones">
                <i class="fa-solid fa-utensils"></i>
                Gastronomia
            </div>
        </a>
    </li>
    <li>
        <a href="#entorn">
            <div class="c-boto-icones">
                <i class="fa-solid fa-leaf"></i>
                Entorn
            </div>
        </a>
    </li>
    <li>
        <a href="#comarribar">
            <div class="c-boto-icones">
                <i class="fa-solid fa-compass"></i>
                Com arribar
            </div>
        </a>
    </li>
</ul>