.targeta{
    border: 1px solid #da0000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -7px 7px 5px #0000001a;
    max-width: 300px;
    margin: 1rem;
}

.targeta__figure{
    margin: 0;
}

.targeta__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.targeta__figcaption{
    background-color: rgba(255, 255, 255, 0.5);
    position:relative;
    top: -35px;
    text-align: right;
    font-size: 0.7em;
    display: inline;
    right:0;
}

.targeta__contingut{
    padding: 1rem;
}

.targeta__titol{

}   

