body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}
