header{

    background-image: url(../images/ac.jpg);
    background-size: cover;
    background-position: center;    
    height: 300px;
    background-color: rgb(71, 69, 69);
    padding: 64px;
    width: 100%;
    text-align: center;
}