header{
    background-image: url(../images/ac.jpg);
    background-size: cover;
    background-position: center;    
    background-color: $fons-fosc;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4{
        color: $valls-principal;
        font-family: $font-family-manual;
        text-shadow: $font-ombrejada;
        font-size: $font-size-extra;
        
    }

    @media (width < $mqMinWidth) {
        min-height: 200px;
    }
}