ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    @media (width < $mqMinWidth) {
        flex-direction: column;
        gap:20px;
    }
}

li{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;


}