/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

@import "npm:@fortawesome/fontawesome-free/css/all.css";