/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
@use "dependencies";
 */


/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 @use "layouts/home";
 */

 

/**
 * Do NOT include anything else in this file!
 */


@import '1.settings/colors';
@import '1.settings/fonts';
@import '1.settings/responsive';

@import '2.tools/dependencies';

@import '3.generic/reset';

@import '4.elements/body';
@import '4.elements/headings';
@import '4.elements/header';
@import '4.elements/footer';

@import '5.objects/uoc-container';
@import '5.objects/uoc-logo';
@import '5.objects/uoc-title';
/*
@import '6.components/';
@import '7.utilities';
*/