/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

 @use "layouts/home";

/**
 * Do NOT include anything else in this file!
 */


@import 'settings/*';
@import 'tools/*';
@import 'generic/*';
@import 'elements/*';
@import 'objects/*';
@import 'components/*';
@import 'utilities/*';